@import "https://designmodo.github.io/Flat-UI/dist/css/flat-ui.min.css";
@import url('https://fonts.googleapis.com/css?family=Oswald');
::-webkit-scrollbar { 
    display: none; 
}
html, body {
  overflow: hidden;
  height: 100vh;
}

body {
  background: url('/static/images/background.jpg'); background-position: center top;background-size: cover;
}

h1 {
  color: #fff;
  font-size: 4em;
}

.info {
  color: #fff;
  font-size: 1.1em;
}


@media only screen and (max-width: 600px) {
  body {
    overflow-y: auto;
  }

}

@media only screen and (max-width: 400px) {
  h1 {
    font-size: 2.5em;
  }
  .info {
    font-size: 0.8em;
  }
}