@import "https://designmodo.github.io/Flat-UI/dist/css/flat-ui.min.css";

body {
	background: url('/static/images2/planet_earth-wide.jpg');
	background-size: cover;
	background-position: center;
}

h1 {
	text-align: center;
}

@media only screen and (max-width: 600px) {
    h1 {
    	font-size: 2.4em;
    }
}