@import "https://designmodo.github.io/Flat-UI/dist/css/flat-ui.min.css";
@import url('https://fonts.googleapis.com/css?family=Oswald');

body,h1,h2,h3,h4,h5,h6 {font-family: "Oswald", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    overflow-y: auto;
    overflow-x: hidden;
    /*line-height: 1.8;*/
    background:url("../images2/eventbg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*EVENTS GROUP*/
.events_group{
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.events_group h1 {
  text-shadow: 0px 0px 7px #ffffff91;
  color: #201b43;
  margin: 0;
  font-size: 4em;
}
/*BLOG CARD*/
.blog-card {
  width: 25%;
  margin:3em;
  display: inline-block;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
  cursor: pointer;
}

.blog-card:hover {
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.9);
}
.title-content {
  text-align: center;
  margin: 60px 0 0 0;
  /*position: absolute;*/
  z-index: 20;
  width: 100%;
  top: 0;
  left: 0;
}
.card-info{
  color:white;
  display: block;
  font-family: sans-serif;
  padding: 3em;
  font-size: 1.5em;
}
.title-content>h3{
  color: white;font-size: 3em;
}
.title-content>hr {
  width: 50px;
  height: 3px;
  margin: 20px auto;
  border: 0;
  background: #D0BB57;
}

.blog-card {
  background: rgba(255,255,255,0.8);
  transition: all 0.5s;
}
.blog-card:hover {
  background: rgba(255,255,255,1);

}
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

@media only screen and (max-device-width: 500px) {
    .middle_box{
        width:100%;
        color:white;
        font-size: 10vw;
        z-index: 50;
        text-align:center;
        /*position:absolute;*/
    }
    .fa {
          padding: 2%;
          font-size: 30px;
          width: 10%;
          max-height: 40px;
          text-align: center;
          text-decoration: none;
          margin: 5px 2px;
          border-radius:10px;
    }
    .w3-center img {
        max-width:100% ;
        overflow-y: hidden;
    }
    .blog-card {
        width: 80%;
        height: 15%;
        margin:1em;
        /*display: block;*/
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
        text-align: center;
        cursor: pointer;
    }
    .title-content {
        margin: 3em 0 0 0;
    }
    .card-info{
        display: none;
    }
}