@import "https://designmodo.github.io/Flat-UI/dist/css/flat-ui.min.css";
@import url('https://fonts.googleapis.com/css?family=Oswald');
body,h1,h2,h3,h4,h5,h6 {font-family: "Oswald", sans-serif;}
::-webkit-scrollbar { 
    display: none; 
}
html, body {
  height: 100vh;
}

body {
  background: url('/static/images/bg_home-100.jpg'); background-position: center top;background-size: cover;
}

#space {
  left: 0;
  top: 0;
  zoom: 1
}

#space span {
  position: absolute;
}

.menu{
  display: block;
  height: 50vh;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}
.menu_mob{
  display: none;
  height: 50vh;
  position: absolute;
  top: 45%;
  width: 100%;
  transform: translateY(-50%);
}
.menu-center{list-style-type: none;text-align: center;}
.menu-center li a{text-decoration: none;color: #fff;padding: 5px 9px!important;font-size:1.6em;width: 100%;font-family: 'Oswald', sans-serif;}
.menu-center li a:hover {
  text-decoration: underline;
}
.menu-center li{
    padding: 2em 0em;
    background-size: contain;
    padding-bottom: 0.5em;
    display: block;
}

.left{
  text-align: left;
}

.left-right {
  margin-left: 3em;
}

.right{
  text-align: right;
}

.right-left {
  margin-right: 3em;
}
.big-logo {
  filter: drop-shadow(16px 16px 10px black);
}

.footer {
    position: fixed;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    background: transparent;
    color: white;
    text-align: center;
}
.footer .fa {
    padding: 5px;
    font-size: 30px;
    width: 40px;
    max-height: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius:10px;
    cursor: pointer;
}

.footer .fa:hover {
    opacity: 0.7;
}

.footer .fa-facebook {
  background: #3B5998;
  color: white;
}

.footer .fa-twitter {
  background: #55ACEE;
  color: white;
}

.footer .fa-google {
  background: #dd4b39;
  color: white;
}

.footer .fa-linkedin {
  background: #007bb5;
  color: white;
}

.footer .fa-youtube {
  background: #bb0000;
  color: white;
}

.footer .fa-instagram {
  background: #125688;
  color: white;
}


@media only screen and (max-width: 600px) {
    .menu{
      display: none;
    }
    .space {
      display: none;
    }
    .menu_mob{
      display: block;
      /*overflow-y: scroll;*/
    }
    .menu-center{
      margin-top: 2.2em;
      padding:0;
    }
    .menu-center li{
    padding: 1px 0px;
    /*background: url(../images/.jpg) no-repeat bottom;*/
    background-size: contain;
    padding-bottom: 10px;
    display: block;
  }
    .menu-center li a{text-decoration: none;color: #fff;padding: 5px 9px!important;font-size: 13px;font-size:1em;width: 100%;font-family: 'Oswald', sans-serif;}

  .phone img {
    margin-top: 10%; 
  }

}