<style>
@import url('https://fonts.googleapis.com/css?family=Oswald');
</style>
::-webkit-scrollbar { 
    display: none; 
}
body {
  background: url('/static/images/bg_home-100.jpg'); background-position: center top;background-size: cover;
}
/*NAVBAR*/
#navToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#navToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#navToggle span
{
  display: block;
  width: 23px;
  height: 3px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#navToggle span:first-child
{
  transform-origin: 0% 0%;
}

#navToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#navToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(0px, 2px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#navToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#navToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#nav
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#nav li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#navToggle input:checked ~ ul
{
  transform: none;
}
.menu{
  display: block;
  height: 50vh;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}
.menu_mob{
  display: none;
  height: 50vh;
  position: absolute;
  top: 45%;
  width: 100%;
  transform: translateY(-50%);
}
.menu-center{list-style-type: none;text-align: center;position: relative;z-index: 9;}
.menu-center li a{text-decoration: none;color: #fff;padding: 5px 9px!important;font-size: 13px;font-size:1.5em;width: 100%;font-family: 'Oswald', sans-serif;}
.menu-center li{
    padding: 40px 0px;
    background-size: contain;
    padding-bottom: 10px;
    display: block;
}

.left{
  text-align: right;
}


.right{
  text-align: left;
}

@media only screen and (max-width: 600px) {
    .menu{
      display: none;
    }
    .menu_mob{
      display: block;
      /*overflow-y: scroll;*/
    }
    .menu-center{
      padding:0;
    }
    .menu-center li{
    padding: 1px 0px;
    background: url(../images/.jpg) no-repeat bottom;
    background-size: contain;
    padding-bottom: 10px;
    display: block;
  }
    .menu-center li a{text-decoration: none;color: #fff;padding: 5px 9px!important;font-size: 13px;font-size:1em;width: 100%;font-family: 'Oswald', sans-serif;}

}