.footer {
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    background: transparent;
    color: white;
    text-align: center;
}
.footer .fa {
    padding: 5px;
    font-size: 30px;
    width: 40px;
    max-height: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius:10px;
    cursor: pointer;
}

.footer .fa:hover {
    opacity: 0.7;
}

.footer .fa-facebook {
  background: #3B5998;
  color: white;
}

.footer .fa-twitter {
  background: #55ACEE;
  color: white;
}

.footer .fa-google {
  background: #dd4b39;
  color: white;
}

.footer .fa-linkedin {
  background: #007bb5;
  color: white;
}

.footer .fa-youtube {
  background: #bb0000;
  color: white;
}

.footer .fa-instagram {
  background: #125688;
  color: white;
}
