@import "https://designmodo.github.io/Flat-UI/dist/css/flat-ui.min.css";
@import url('https://fonts.googleapis.com/css?family=Oswald');
::-webkit-scrollbar { 
    display: none; 
}
html, body {
  height: 100vh;
}

p {
    color: #000; 
}

h1 {
  font-family: 'Oswald', sans-serif;
  margin-bottom: 10%;
}

h3 {
  font-size: 1.5em;
  
}

small {
  color: #4f4f4f !important;
}



@media only screen and (max-width: 600px) {
    h1 {
      font-size: 2.5em;
      margin-bottom: 20%;
    }

}