{% extends "festflow/base.html" %}
{% load static %}

{% block title %} Aavishkar-ABOUT US {% endblock %}

{% block extra_head %}

<!-- View CSS -->
<link rel="stylesheet" type="text/css" href="{% static "css/about.css"%}"/>

{% endblock %}

{% block body_contents %}

<!-- <div class="container">
    <div class="jumbotron">
        <h1 id='link'>About Us</h1>
        <div class="dash"></div>
        <br />
        <div class="about-text">
            {% if content %}
            {{ content | safe }}
            {% endif %}
        </div>
    </div>
</div> -->
    {% include "festflow/navBar.html" %}
        <div class="container">
            <header>
                <div class="row">
                    <div class="col-md-8">
                        <h1>About Us</h1>
                        <p class="info">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.
                        </p>
                    </div>
                </div>
            </header>
        </div>

</div>
{% endblock %}
