{% extends "festflow/base.html" %}
{% load static %}

{% block title %} Aavishkar-ABOUT US {% endblock %}

{% block extra_head %}

<!-- View CSS -->
<link rel="stylesheet" type="text/css" href="{% static "css/about.css"%}"/>

{% endblock %}

{% block body_contents %}
    {% include "festflow/navBar.html" %}
    <div class="container">
        <header>
            <div class="row">
                <div class="col-md-8">
                    <h1>About Us</h1>
                    <p class="info">
                        {% if content %}
                        {{ content | safe }}
                        {% endif %}
                    </p>
                </div>
            </div>
        </header>
    </div>
{% endblock %}
