{% extends "festflow/base.html" %}
{% load static %}

{% block title %}Aavishkar {{ event.name }} {% endblock %}

{% block extra_head %}

{# SEO #}
<meta name="description" content="Aavishkar presents {{event.name}}. {{event.description|striptags}}">
<meta name="keywords" content="Aavishkar, Techfest, hackathon, nit, durgapur, fest, open source, maths, tech">

<meta property="og:title" content="Aavishkar presents {{event.name}}">
<meta property="og:url" content="http://avskr.in{{ request.path }}">
<meta property="og:description" content="Aavishkar presents {{event.name}}. {{event.description|striptags}}">
<meta property="og:image" content="http://avskr.in{{event.logo.url}}">
<meta property="og:type" content="website">


<meta name="twitter:domain" content="avskr.in">

<meta name="twitter:title" content="Aavishkar presents {{event.name}}">
<meta name="twitter:url" content="http://avskr.in{{ request.path }}">
<meta name="twitter:description" content="Aavishkar presents {{event.name}}. {{event.description|striptags}}">
<meta name="twitter:image:src" content="http://avskr.in{{event.logo.url}}">



<meta itemprop="name" content="Aavishkar presents {{event.name}}">

<meta itemprop="url" content="http://avskr.in{{ request.path }}">
<meta itemprop="description" content="Aavishkar presents {{event.name}}. {{event.description|striptags}}">
<meta itemprop="image" content="http://avskr.in{{event.logo.url}}">




<!-- View CSS -->
<link rel="stylesheet" type="text/css" href='{% static "css/event_view.css" %}'/>

{% endblock %}

{% block body_contents %}
{% include "festflow/navBar.html" %}
<div class="container">
    <div class="jumbotron" style="border-style: dashed; background: #171334;">
        <div style="color: #fff">
            <h1 id='link' style="text-align: left;">{{ event.name }}</h1>
            <div class="dash"></div>
            <br />
            <br />
            {% if event.logo %}
            <img src="{{ event.logo.url }}" alt= "{{ event.name }}" class='img-responsive' />
            <br />
            {% endif %}

            <h3 id='link'><strong>About the Event</strong></h3>
            <div class="subdash"></div>
            <br />
            <br />
            <p>{{ event.description|safe }}</p>

            <div class='sub-heading'>
                <p><strong>Venue : </strong></p>
                <p> {{ event.venue }}</p>
            </div>

            <div class='sub-heading'>
                <p><strong>Time : </strong></p>
                <p> {{ event.date_time }}</p>
            </div>

            {% if event.problem_statement_file %}
            <a id='problem' href="{{ event.problem_statement_file.url }}" target="_blank" class="btn" role="button">PROBLEM STATEMENT</a>
            {% endif %}

            {% if event in user_profile.registered_events.all %}
            <h3>You have already registered for this event !!!</h3>
            {% else %}
            <a id='register' href="/register_event/{{ event.identifier }}" class="btn" role="button">REGISTER</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
