{% extends "festflow/base.html" %}
{% load static %}

{% block title %} EVENTS {% endblock %}

{% block extra_head %}

<!-- View CSS -->
<link rel="stylesheet" type="text/css" href="{% static "css/event.css"%}"/>

{% endblock %}

{% block extrajs %}
     <script type="text/javascript" src="{% static "vendor/js/modernizr-2.5.2.min.js" %}"></script>
    <script src="{% static "vendor/js/jquery-1.10.2.min.js" %}"></script>
    <script src="{% static "vendor/js/plugins/jquery.pane3D.js" %}"></script>
    <script>
    $(document).ready(function(){    
    $("#container").pane3D();
    });
    </script>
{% endblock %}

{% block body_contents %}
{% include "festflow/navBar.html" %}
<!-- <div class="container">
    <div class="jumbotron">
        <h1 id='link'>Events</h1>
        <div class="dash"></div>
        <br />
        <br />
        <br />
        <div class='row'>
            {% for event in group_events %}
            <div class='col-lg-4'>
                <a href="{{ event.get_absolute_url }}">
                    {% if event.logo %}
                    <img src="{{ event.logo.url }}" width='100%' alt= "{{ event.name }}" class='img-responsive' />
                    {% endif %}
                    <div class='event-text'>
                        <div class="subdash"></div>
                        <p>{{ event.name }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div> -->
<div id="container" class="panes-environment">
    <div class="panes-container">
        {% for event in group_events %}
            <a href="{{ event.get_absolute_url }}">
                <section class="pane" style="background: url('{{ event.logo.url }}');"><!-- <p style="vertical-align: center">{{ event.name }}</p> --></section>
            </a>
        {% endfor %}
    </div>
  </div>

{% endblock %}
