{% extends "festflow/base.html" %}
{% load static %}

{% block body_contents %}

<div id="main" style="height: 100%;width: 100%;">
		<!-- NAVBAR -->
		<nav role="navigation" style="position: absolute;top: -4%; left: -2%;">
		  <div id="navToggle">
		    <input type="checkbox" />
		    <span></span>
		    <span></span>
		    <span></span>
		    <ul id="nav" style="height: 110vh;">
		      <a href="#">
		        <li>Home</li>
		      </a>
		      <a href="#">
		        <li>About</li>
		      </a>
		      <a href="#">
		        <li>Info</li>
		      </a>
		      <a href="#">
		        <li>Contact</li>
		      </a>
		      <a href="https://erikterwan.com/" target="_blank">
		        <li>Show me more</li>
		      </a>
		    </ul>
		  </div>
		</nav>
		<!-- HEADER -->
		<div class="header_fixed" style="text-align: center; height:120px; background: url('{% static './images/header.png'%}'); background-position: center top;background-size: cover;">
			<div style="display: inline-block; height: 100%;">
				<img src="{% static "./images/Aavishkar Logo Final (WHITE).png"%}" style="max-width: 100%;max-height:80%;height: auto;width: auto;">
			</div>
		</div>
		<!-- TYPED -->
		<div style="text-align: center; height:30px; background: url('{% static './images/info2.png'%}'); background-position: center top;background-size: contain; background-repeat: no-repeat;font-family: 'Oswald';color:white;" id="info">
		</div>
	    <!-- MENU -->
		<div class="menu">
			<div class="col-md-10 col-md-offset-1 col-sm-12">
			  <div class="col-md-4 col-sm-4">
			    <ul class="menu-center">
			      <li class="left left-right"><a href="#" ><img src="{% static "./images2/about_us1.png"%}" style="height:2em;width: auto;"> ABOUT US </a></li>
			      <li class="left"><a href="#" ><img src="{% static "./images2/events1.png"%}" style="height:2em;width: auto;"> EVENTS</a></li>
			      <li class="left"><a href="#" ><img src="{% static "./images2/exhibition1.png"%}" style="height:2em;width: auto;"> EXHIBITION</a></li>
			      <li class="left left-right"><a href="#" ><img src="{% static "./images2/keynote1.png"%}" style="height:2em;width: auto;"> KEYNOTE</a></li>
			    </ul>
			  </div>            
			  <div class="col-md-4 col-sm-4">
			  	<div style="display:block; text-align: center;height: 100%">
				    <img src="{% static "./images/Aavishkar Logo Final.png"%}" class="img-responsive big-logo">
				</div>
			  </div>
			  <div class="col-md-4 col-sm-4">
			    <ul class="menu-center">
			     	<li class="right right-left"><a href="#">TEAM <img src="{% static "./images2/team1.png"%}" style="height:2em;width: auto;"></a></li> 
			    	<li class="right"><a href="#">SPONSORS <img src="{% static "./images2/sponsor1.png"%}" style="height:2em;width: auto;"></a></li>
					<li class="right"><a href="#">WORKSHOPS <img src="{% static "./images2/workshop1.png"%}" style="height:2em;width: auto;"></a></li>
					<li class="right right-left"><a href="#">REGISTER <img src="{% static "./images2/register1.png"%}" style="height:2em;width: auto;"></a></li>
				</ul>
			  </div>
			</div>
		</div>
		<div id="space" class="space"></div>
		<!-- <div class="menu">
			<div class="col-md-8 col-md-offset-2">
			  <div class="col-md-3">
			    <ul class="menu-center">
			      <li id="about-us">
			      		<div class="first-menu">
							<img class="img-valign" src="{% static "images2/events1.png"%}" alt="" />
							<span class="text1">ABOUT US</span>
						</div>
			      
			      </li>
			      <li id="event">
			      	
				      	<div>
							<img class="img-valign" src="{% static "images2/events1.png"%}" alt="" />
							<span class="text1">EVENTS</span>
						</div>
					
			      </li>
			      <li id="exhibition">
			      	
				      	<div>
							<img class="img-valign" src="{% static "images2/exhibition1.png"%}" alt="" />
							<span class="text1">EXHIBITION</span>
						</div>
					
			      </li>
			      <li id="key-note">
			      	
				      	<div class="first-menu">
							<img class="img-valign" src="{% static "images2/keynote1.png"%}" alt="" />
							<span class="text1">KEYNOTE</span>
						</div>
					
			      </li>
			    </ul>
			  </div>            
			  <div class="col-md-6 col-sm-4 big-logo-wrapper">
			    <img src="{% static "images/Aavishkar Logo Final.png"%}" class="img-responsive big-logo">
			  </div>
			  <div class="col-md-3 col-sm-4">
			    <ul class="menu-center menu-2" style="text-align: right;">
			     	<li id="workshop">
			     		
				      		<div style="margin-right: 10%;">
								<span class="text1">WORKSHOPS</span>
								<img class="img-valign" src="{% static "images2/workshop1.png"%}" alt="" />
							</div>
						
			      	</li> 
			    	<li id="sponsors">
			    		
				      		<div>
								<span class="text1">SPONSORS</span>
								<img class="img-valign" src="{% static "images2/sponsor1.png"%}" alt="" />
							</div>
						
			      	</li>
					<li id="team">
						
				      		<div>
								<span class="text1">TEAM</span>
								<img class="img-valign" src="{% static "images2/team1.png"%}" alt="" />
							</div>
						
			      	</li>
					<li id="register">
						
				      		<div style="margin-right: 10%;" data-toggle="modal" data-target="#myModal">
								<span class="text1">REGISTER</span>
								<img class="img-valign" src="{% static "images2/register1.png"%}" alt="" />
							</div>
						
			      	</li>
				</ul>
			  </div>
			</div>
		</div> -->
		<div class="menu_mob">
			<div class="col-sm-12 menu-center">
				<img src="{% static "./images/spaceship2.png"%}" class="img-responsive animated infinite pulse" style="height: 10em; margin-left: 14%;">
			    <ul class="menu-center">
			      <li><a href="#">ABOUT US</a></li>
			      <li><a href="#">EVENTS</a></li>
			      <li><a href="#">CONTACT US</a></li>
			      <li><a href="#">TEAM</a></li> 
			      <li><a href="#">SPONSORS</a></li>
				  <li><a href="#">WORKSHOPS</a></li>
				</ul>
			  </div>
		</div>
	</div>
	<div class="footer">
    	<span class="fa fa-twitter social"></span>
    	<span class="fa fa-facebook"></span>
    	<span class="fa fa-instagram"></span>
   		<span class="fa fa-youtube"></span>
 	</div>
	<script src="{% static "js/nav_main.js"%}"></script>
{% endblock %}
