{% extends "festflow/base.html" %}
{% load static %}

{% block extra_head %}
	<link rel="stylesheet" type="text/css" href="{% static "css/homepage.css"%}"/>
{% endblock %}

{% block extrajs %}
	<script src="{% static "js/homePage.js"%}"></script>
{% endblock %}

{% block body_contents %}

<div id="main" style="height: 100%;width: 100%;">
	{% include "festflow/navBar.html" %}
	    <!-- MENU -->
		<div class="menu">
			<div class="col-md-10 col-md-offset-1 col-sm-12">
			  <div class="col-md-4 col-sm-4">
			    <ul class="menu-center">
			      <li class="left left-right"><a href="/about/" ><img src="{% static "./images2/about_us1.png"%}" style="height:2em;width: auto;"> ABOUT US </a></li>
			      <li class="left"><a href="/events/groups" ><img src="{% static "./images2/events1.png"%}" style="height:2em;width: auto;"> EVENTS</a></li>
			      <li class="left"><a href="#" ><img src="{% static "./images2/exhibition1.png"%}" style="height:2em;width: auto;"> EXHIBITION</a></li>
			      <li class="left left-right"><a href="#" ><img src="{% static "./images2/keynote1.png"%}" style="height:2em;width: auto;"> KEYNOTE</a></li>
			    </ul>
			  </div>            
			  <div class="col-md-4 col-sm-4">
			  	<div style="display:block; text-align: center;height: 100%">
				    <img src="{% static "./images/Aavishkar Logo Final.png"%}" class="img-responsive big-logo">
				</div>
			  </div>
			  <div class="col-md-4 col-sm-4">
			    <ul class="menu-center">
			     	<li class="right right-left"><a href="/teams/">TEAM <img src="{% static "./images2/team1.png"%}" style="height:2em;width: auto;"></a></li> 
			    	<li class="right"><a href="/sponsors/">SPONSORS <img src="{% static "./images2/sponsor1.png"%}" style="height:2em;width: auto;"></a></li>
					<li class="right"><a href="#">WORKSHOPS <img src="{% static "./images2/workshop1.png"%}" style="height:2em;width: auto;"></a></li>
					<li class="right right-left"><a href="/register/">REGISTER <img src="{% static "./images2/register1.png"%}" style="height:2em;width: auto;"></a></li>
				</ul>
			  </div>
			</div>
		</div>
		<div id="space" class="space"></div>
		<div class="menu_mob">
			<div class="col-sm-12 menu-center phone">
				<img src="{% static "./images/spaceship2.png"%}" class="img-responsive animated infinite pulse" style="height: 10em; margin-left: 14%;">
			    <ul class="menu-center">
			      <li><a href="/about/">ABOUT US</a></li>
			      <li><a href="/events/groups">EVENTS</a></li>
			      <li><a href="/teams/">TEAM</a></li> 
			      <li><a href="/sponsors/">SPONSORS</a></li>
				  <li><a href="#">WORKSHOPS</a></li>
				  <li><a href="#">KEYNOTE</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer">
    	<span class="fa fa-twitter social"></span>
    	<span class="fa fa-facebook"></span>
    	<span class="fa fa-instagram"></span>
   		<span class="fa fa-youtube"></span>
 	</div>
{% endblock %}
