<!DOCTYPE html>
{% load static %}

<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115495181-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-115495181-1');
  </script>
  <title>Aavishkar</title>
  <link rel="shortcut icon" href="{% static "images/Aavishkar Logo Final (RGB).png" %}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {# SEO #}
  <meta name="description" content="Aavishkar-The Tech Fest, NIT Durgapur is the official technical fest of NIT Durgapur. It aims to instill a desire for technical expertise ,rational thinking ,logical thought process and open-source contributions.">
  <meta name="keywords" content="Aavishkar, Techfest, hackathon, nit, durgapur, fest, open source, maths, tech">

  <meta property="og:title" content="Aavishkar-The Tech Fest, NIT Durgapur">
  <meta property="og:url" content="http://avskr.in/">
  <meta property="og:description" content="Aavishkar-The Tech Fest, NIT Durgapur is the official technical fest of NIT Durgapur. It aims to instill a desire for technical expertise ,rational thinking ,logical thought process and open-source contributions.">
  <meta property="og:image" content="http://avskr.in/static/images/avskrLogo.jpg">
  <meta property="og:type" content="website">


  <meta name="twitter:domain" content="avskr.in">

  <meta name="twitter:title" content="Aavishkar-The Tech Fest, NIT Durgapur">
  <meta name="twitter:url" content="http://avskr.in/">
  <meta name="twitter:description" content="Aavishkar-The Tech Fest, NIT Durgapur is the official technical fest of NIT Durgapur. It aims to instill a desire for technical expertise ,rational thinking ,logical thought process and open-source contributions.">
  <meta name="twitter:image:src" content="http://avskr.in/static/images/avskrLogo.jpg">



  <meta itemprop="name" content="Aavishkar-The Tech Fest, NIT Durgapur">

  <meta itemprop="url" content="http://avskr.in/">
  <meta itemprop="description" content="Aavishkar-The Tech Fest, NIT Durgapur is the official technical fest of NIT Durgapur. It aims to instill a desire for technical expertise ,rational thinking ,logical thought process and open-source contributions.">
  <meta itemprop="image" content="http://avskr.in/static/images/avskrLogo.jpg">
  {# END SEO #}




  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static "css/style.css"%}">
  <link rel="stylesheet" href="{% static "vendor/css/animate.css"%}">
  <style >
      .hameid-loader-overlay {
          width: 100%;
          height: 100%;
          background: url('{%static 'images/1-dancing.gif'%}') center no-repeat #FFF;
          z-index: 99999;
          position: fixed;
      }
  </style>
</head>
<body>
  <!-- PRELOADER -->
  <div class="hameid-loader-overlay">
  </div>
<div class="bgimg-1 w3-display-container" id="home">
  <video autoplay loop id="myVideo">
    <source src="{% static "video/video.mp4"%}" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>
  <div class="middle_box">
    <div class="w3-center"><img src="{% static "images2/avskr.png"%}" class="img-responsive" style="filter: drop-shadow(16px 16px 10px black); width: 9em"></div>
    <p style="font-size: 0.5em;">March 15th to 18th</p>
    <div class="w3-center middle_box"><a href="/home"><button class="btn btn-success animated pulse infinite">Enter to reveal the quest for the unknown</button></a></div>
  </div>
  <div class="footer">
  {# <span class="fa fa-twitter social"></span> #}
      <a href="https://www.facebook.com/aavishkar.nitd/" target="_blank"><span class="fa fa-facebook"></span></a>
      <a href="https://www.instagram.com/aavishkar_nitd/" target="_blank"><span class="fa fa-instagram"></span></a>
      <a href="https://www.youtube.com/channel/UCl42je3Zr5zTCpsHIj7xkbg" target="_blank"><span class="fa fa-youtube"></span></a>
  </div>
</div>
<script src="{%static "vendor/js/jquery-3.3.1.min.js"%}"></script>
<script>
    $(document).ready(function(){
        console.log("READY");
        $('.hameid-loader-overlay').delay(1000).fadeOut();
        $('#main').delay(5000).fadeIn();
    });
  </script>
  <noscript>
      <style>.hameid-loader-overlay { display: none; } </style>
  </noscript>
</body>
</html>
