{% extends "festflow/base.html" %}
{% load static %}

{% block title %} EVENTS {% endblock %}

{% block extra_head %}

<!-- View CSS -->
<link rel="stylesheet" href="{% static "css/card.css" %}">

{% endblock %}

{% block body_contents %}
{% include "festflow/navBar.html" %}
<div class="container">
    <div class="titles">
        <h1>SPONSORS:</h1>
    </div>



    <div class="card" style="float:left; margin-left:40px; margin-bottom:30px; margin-top:30px">
        <img src="" alt="Image1" style="width:100% ">
        <div class="container">
            <h4><b>1</b></h4>
            <p>Description</p>
        </div>
    </div>



    <div class="card" style="float:right; margin-right:40px; margin-bottom:30px; margin-top:30px">
        <img src="" alt="Image1" style="width:100% ">
        <div class="container">
            <h4><b>2</b></h4>
            <p>Description</p>
        </div>
    </div>


    <div class="card" style="float:left; margin-left:40px; margin-bottom:30px; margin-top:30px">
        <img src="" alt="Image1" style="width:100% ">
        <div class="container">
            <h4><b>3</b></h4>
            <p>Description</p>
        </div>
    </div>

    <div class="card" style="float:right; margin-right:40px; margin-bottom:30px; margin-top:30px ">
        <img src="" alt="Image1" style="width:100% ">
        <div class="container">
            <h4><b>4</b></h4>
            <p>Description</p>
        </div>
    </div>

</div>

{% endblock %}
