{% extends "festflow/base.html" %}
{% load static %}

{% block extra_head %}
	<link rel="stylesheet" type="text/css" href="{% static "css/spons.css"%}"/>
{% endblock %}


{% block body_contents %}
{% include "festflow/navBar.html" %}
<!--SPONSORS LIST-->
<div class="container">
	<div style="font-size:5em;font-color:;font-style:cursive;text-align:center">SPONSORS</div><br></br>
	
	{% for group, sponsors in sponsors.items %}
	<div class="row" >
		<div style="font-size:2em;font-color:;font-style:cursive;text-align:center">{{ group.group_name }}
		</div>
		{% for sponsor in sponsors %}
        {% if forloop.counter0|divisibleby:3 %}<div class='row'>{% endif %}
		<div class="col-sm-4"  align="center">
			<img src="{{sponsor.logo.url}}" style="width:300px; margin:30px;">
		</div>
		{% if forloop.counter|divisibleby:3 or forloop.last %}</div>{% endif %}
		{% endfor %}
	</div>
	<br></br></br><br>
	{% endfor %}
	

{% endblock %}