{% extends "festflow/base.html" %}
{% load static %}

{% block extra_head %}
	<link rel="stylesheet" type="text/css" href="{% static "css/spons.css"%}"/>
{% endblock %}


{% block body_contents %}
{% include "festflow/navBar.html" %}
<!--SPONSORS LIST-->
<div class="container">
	<div style="font-size:5em;font-color:;font-style:cursive;text-align:center">SPONSORS</div><br></br>
	<div class="row" >
		<div style="font-size:2em;font-color:;font-style:cursive;text-align:center">MAJOR SPONSORS
		</div>
		<div class="col-sm-4"  align="center">
			<img src="a.jpg" style="height:300px; width:300px; margin:30px;">
			<br>
			<label><a href="#">Sponser1</a></label>
		</div>
		<div class="col-sm-4"  align="center">
			<img src="a.jpg" style="height:300px; width:300px; margin:30px;">
			<br><label><a href="#">Sponser1</a></label>
		</div>
		<div class="col-sm-4"  align="center">
			<img src="a.jpg" style="height:300px; width:300px; margin:30px;">
			<br><label><a href="#">Sponser1</a></label>
		</div>
	</div>
	<br></br></br><br>
	<div class="row" >
		<div style="font-size:2em;font-color:;font-style:cursive;text-align:center">MEDIA SPONSORS
		</div>
		<div class="col-sm-3" align="center">
			<img src="a.jpg" style="height:200px; width:200px; margin:30px;">
			<br><label ><a href="#">Sponser1</a></label>
		</div>
		<div class="col-sm-3"  align="center">
			<img src="a.jpg"  style="height:200px; width:200px; margin:30px;">
			<br><label><a href="#">Sponser1</a></label>
		</div>
		<div class="col-sm-3"  align="center">
			<img src="a.jpg"  style="height:200px; width:200px; margin:30px;">
			<br><label><a href="#">Sponser1</a></label>
		</div>
		<div class="col-sm-3"  align="center">
			<img src="a.jpg"  style="height:200px; width:200px; margin:30px;">
			<br><label><a href="#">Sponser1</a></label>
		</div>
	</div>
	<br></br></br></br>
	<div class="row">
		<div style="font-size:2em;font-color:;font-style:cursive;text-align:center">EVENT SPONSORS
		</div>
		<div class="col-sm-3" align="center">
			<img src="a.jpg" style="height:200px; width:200px; margin:30px;">
			<br><label><a href="#">Sponser1</a></label>
		</div>
		<div class="col-sm-3"  align="center">
			<img src="a.jpg"  style="height:200px; width:200px; margin:30px;">
			<br><label><a href="#">Sponser1</a></label>
		</div>
		<div class="col-sm-3"  align="center">
			<img src="a.jpg"  style="height:200px; width:200px; margin:30px;">
			<br><label><a href="#">Sponser1</a></label>
		</div>
		<div class="col-sm-3"  align="center">
			<img src="a.jpg"  style="height:200px; width:200px; margin:30px;">
			<br><label><a href="#">Sponser1</a></label>
		</div>
	</div>
	<br></br></br></br>
	<div class="row" >
		<div style="font-size:2em;font-color:;font-style:cursive;text-align:center">FOOD SPONSORS
		</div>
		<div class="col-sm-3" align="center">
			<img src="a.jpg" style="height:200px; width:200px; margin:30px;">
			<br><label ><a href="#">Sponser1</a></label>
		</div>
		<div class="col-sm-3"  align="center">
			<img src="a.jpg"  style="height:200px; width:200px; margin:30px;">
			<br><label><a href="#">Sponser1</a></label>
		</div>
		<div class="col-sm-3"  align="center">
			<img src="a.jpg"  style="height:200px; width:200px; margin:30px;">
			<br><label><a href="#">Sponser1</a></label>
		</div>
		<div class="col-sm-3"  align="center">
			<img src="a.jpg"  style="height:200px; width:200px; margin:30px;">
			<br><label><a href="#">Sponser1<a></label>
		</div>
	</div>
	<br></br></br><hr>

{% endblock %}