{% extends "festflow/base.html" %}
{% load static %}

{% block extra_head %}
	<link rel="stylesheet" type="text/css" href="{% static "css/team.css"%}"/>
{% endblock %}

{% block extrajs %}
	<!-- <script src="{% static "js/homePage.js"%}"></script> -->
{% endblock %}

{% block body_contents %}

<div>
	{% include "festflow/navBar.html" %}
	<div class="container">
		 <h1>OUR TEAM</h1>
		    <div class="row">
		    	{% for member in members %}
		    	<div class="col-md-4 col-sm-6 text-center">
		          <img class="rounded-circle img-fluid d-block mx-auto team-avatar" src="{% if member.avatar_img %}{{member.avatar_img.url}}{% else %}{% static "images/1-dancing.gif"%}{% endif %}" alt="">
		          <h3>{{member.name}}<br>
		            <small>{{member.club}} |</small>
		            <small>{{member.position}}</small>
		          </h3>
		          {% if member.emailId %}
		          <a href="mailto:{{member.emailId}}" target="_top">{{member.emailId}}</a> |
		          {% endif %}
		          {% if member.contactNumber %}
		          <a href="tel:{{member.contactNumber}}">{{member.contactNumber}}</a>
		          {% endif %}
		        </div>
		    	{% endfor %}
		    </div>
		    <br>
		    <br>
		    <br>
	</div>
</div>
{% endblock %}