{% extends "festflow/base.html" %}
{% load static %}

{% block extra_head %}
	<link rel="stylesheet" type="text/css" href="{% static "css/team.css"%}"/>
{% endblock %}

{% block extrajs %}
	<!-- <script src="{% static "js/homePage.js"%}"></script> -->
{% endblock %}

{% block body_contents %}

<div>
	{% include "festflow/navBar.html" %}
	<div class="container">
		 <h1>OUR TEAM</h1>
		<p class="info">
		    <div class="row">
		        <div class="col-md-4 col-sm-6 text-center">
		          <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
		          <h3>Member Name
		            <small>Job Title</small>
		          </h3>
		          <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
		        </div>
		        <div class="col-md-4 col-sm-6 text-center">
		          <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
		          <h3>Member Name
		            <small>Job Title</small>
		          </h3>
		          <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
		        </div>
		        <div class="col-md-4 col-sm-6 text-center">
		          <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
		          <h3>Member Name
		            <small>Job Title</small>
		          </h3>
		          <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
		        </div>
		        <div class="col-md-4 col-sm-6 text-center">
		          <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
		          <h3>Member Name
		            <small>Job Title</small>
		          </h3>
		          <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
		        </div>
		        <div class="col-md-4 col-sm-6 text-center">
		          <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
		          <h3>Member Name
		            <small>Job Title</small>
		          </h3>
		          <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
		        </div>
		        <div class="col-md-4 col-sm-6 text-center">
		          <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
		          <h3>Member Name
		            <small>Job Title</small>
		          </h3>
		          <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
		        </div>
		    </div>
		</p>
	</div>
</div>
{% endblock %}